<!DOCTYPE html>
<html lang="en" lang="en">
<head>
   <title> Bakari Walton </title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="static/styles.css">
  <script src="static/main.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="wrapper">
    <div id=header>
          <h1 class='header-title'> Bakari Walton</h1>
          <div id='icons'>
            <a href="https://www.linkedin.com/in/bakari-walton-466ab7253/" target="_blank"> <img src='static/images/linkedin.jpg'>  </img> </a>
            <a href="https://github.com/CodeWithKarii" target="_blank"> <img src='static/images/gitgublogo.png'>  </img> </a>
            <a href="https://twitter.com/bakariwalton10" target="_blank"> <img src='static/images/twitter.png'>  </img> </a>

          </div>
            <a href='#' target='_blank'>   <img src='static/images/professionalpicture.jpeg'> </a>
         </div>

        <p id="description">
            Welcome to my website portfolio! I'm thrilled to have you here and to share my creative journey and professional accomplishments with you.
             Within these virtual pages, you'll find a curated collection of my best work, showcasing my skills, expertise, and passion. 
             Whether you're an employer, potential collaborator, or simply curious about my abilities,
            I invite you to explore the diverse range of projects and experiences I've accumulated.
             From innovative designs to thought-provoking essays, 
             each piece represents my dedication to excellence and my commitment to continuous growth. Thank you for visiting, and 
            I hope my portfolio leaves you inspired and eager to learn more about what I have to offer.
        </p>
        <br>
        <br>
        <br>
        <br>
        <p id='updates'> For more updates, subscribe to the email list we post daily </p>
          <form method="post" class = userinfo-form >
            <input type="text"  id='name' name="name" placeholder="Enter your name" required>
            <br>
            <input type="email"  id='email' name="email" placeholder="Enter your Email" required>
            <br>
            <input type="submit" value="Subscribe" id='sub' name="Subscribe" style="color:red;">
          </form>

    <div id='content'>
        <h1> UPDATES</h1>
          <div id="post-card">
            <a href='#' target='_blank'>   <img src='static/images/professionalpicture.jpeg'> </a>
            <h1 class="post-title">Thanks for checking out my portfolio!</h1>
            <p class="post-description"> Hello, I am Bakari Walton, im currenly looking for jobs that are hiring software enginnerineers. I have alot of technical experience including being able to make websites from the ground up. </p>
          </div>
      </div>
      <div id='content'>
          <h1> PROJECTS</h1>
            <!-- # THIS IS THE DICE GAME -->
            <div id="post-card">
              <a href='#' target='_blank'>   <img src='static/images/diceimage.png'> </a>
              <h1 class="post-title"> Dice Roll Project  </h1>
              <p class="post-description"> This Project allowed me to learn diffrent ways to use javascript. </p>
              <a href='/roll' target='_blank'>   <input type="button" value="Learn More" id='sub' name="Learn More" style="color:red;"> </a>

             </div>
            <!-- # THIS IS THE CHATBOOK WEB APP -->
             <div id="post-card">
               <a href='#' target='_blank'>   <img src='static/images/chatbook.png'> </a>
               <h1 class="post-title"> ChatBook project   </h1>
               <p class="post-description"> This is a online text app simulatation that allows you to chat to anyone on your local connection. This project is not fully finshed but will be avaliable soon! </p>
               <a href='/chatbook' target='_blank'>   <input type="button" value="Learn More" id='sub' name="Learn More" style="color:red;"> </a>

              </div>


        </div>
          <br>
          <br>
          <br>
    <div id='content'>
        <h1> Created By Bakari Walton </h1>
        <br>
        <p> Version: 1.0.0 </p>

        <div id='icons'>
          <a href="https://www.linkedin.com/in/bakari-walton-466ab7253/" target="_blank"> <img src='static/images/linkedin.jpg'>  </img> </a>
          <a href="static/images/gitgublogo.png" target="_blank"> <img src='static/images/gitgublogo.png'>  </img> </a>
          <a href="https://twitter.com/bakariwalton10" target="_blank"> <img src='static/images/twitter.png'>  </img> </a>

        </div>


        <!-- <div id='icons'>
          <img class="icon" src='static/images/facebook.png' > </img>
          <p>Facebook </p>
          <img src='static/images/kashwears.png' >  </img>
          <p>Facebook </p>
          <img src='static/images/IMG_2565.JPG' > </img>
          <p>Facebook </p>
          <img class="icon" src='static/images/facebook.png' > </img>
          <p>Facebook </p>
          <img src='static/images/youtube.png' >  </img>
          <p>Facebook </p>
          <img src='static/images/insta.png' > </img>
          <p>Facebook</p>
        </div>

    </div>
  </div> -->
